extends layout

block content
  .container
    table.table
      thead
        .row
          .col-md-4 欧指
          .col-md-4 初始指数
          .col-md-4 最新指数
        tr
          th.col-md-4 博彩公司
          th.col-md-4
            span.col-md-4 主
            span.col-md-4 平
            span.col-md-4 客
          th.col-md-4 
            span.col-md-4 主
            span.col-md-4 平
            span.col-md-4 客
      tbody.odds
        for odd in matchInfo.odds
          tr
            th.col-md-4 #{odd.company_name}
            th.col-md-4
              span.col-md-4 #{odd.initial_victory}
              span.col-md-4 #{odd.initial_even}
              span.col-md-4 #{odd.initial_lose}
            th.col-md-4
              span.col-md-4 #{odd.now_victory}
              span.col-md-4 #{odd.now_even}
              span.col-md-4 #{odd.now_lose}
        tr
          th.col-md-4 平均值
          th.col-md-4
            span.col-md-4 
            span.col-md-4 
            span.col-md-4 
          th.col-md-4
            span.col-md-4 
            span.col-md-4 
            span.col-md-4 
            
      table.table
        thead
          .row
            .col-md-12 主队最近十场战绩
          .row
            .col-md-1 比赛
            .col-md-2 时间
            .col-md-3 主队
            .col-md-1 比分
            .col-md-3 客队
            .col-md-1 胜负
            .col-md-1 半场
        tbody
          for home in matchInfo.home_recent
            tr
              td.col-md-1 #{home.league}
              td.col-md-2 #{home.time}
              td.col-md-3 #{home.home}
              td.col-md-1 #{home.score}
              td.col-md-3 #{home.away}
              td.col-md-1 #{home.final}
              td.col-md-1 #{home.half_time}
        table.table
          thead
            .row
              .col-md-12 客队最近十场战绩
            .row
              .col-md-1 比赛
              .col-md-2 时间
              .col-md-3 主队
              .col-md-1 比分
              .col-md-3 客队
              .col-md-1 胜负
              .col-md-1 半场
          tbody
            for away in matchInfo.away_recent
              tr
                td.col-md-1 #{away.league}
                td.col-md-2 #{away.time}
                td.col-md-3 #{away.home}
                td.col-md-1 #{away.score}
                td.col-md-3 #{away.away}
                td.col-md-1 #{away.final}
                td.col-md-1 #{away.half_time}
          table.table
            thead
              .row
                .col-md-12 主队最近十个主场战绩
              .row
                .col-md-1 比赛
                .col-md-2 时间
                .col-md-3 主队
                .col-md-1 比分
                .col-md-3 客队
                .col-md-1 胜负
                .col-md-1 半场
            tbody
              for home in matchInfo.home_ten
                tr
                  td.col-md-1 #{home.league}
                  td.col-md-2 #{home.time}
                  td.col-md-3 #{home.home}
                  td.col-md-1 #{home.score}
                  td.col-md-3 #{home.away}
                  td.col-md-1 #{home.final}
                  td.col-md-1 #{home.half_time}
            table.table
              thead
                .row
                  .col-md-12 客队最近十个客场战绩
                .row
                  .col-md-1 比赛
                  .col-md-2 时间
                  .col-md-3 主队
                  .col-md-1 比分
                  .col-md-3 客队
                  .col-md-1 胜负
                  .col-md-1 半场
              tbody
                for away in matchInfo.away_ten
                  tr
                    td.col-md-1 #{away.league}
                    td.col-md-2 #{away.time}
                    td.col-md-3 #{away.home}
                    td.col-md-1 #{away.score}
                    td.col-md-3 #{away.away}
                    td.col-md-1 #{away.final}
                    td.col-md-1 #{away.half_time}
              
          
        
block script
  script(src='/javascripts/odd.js')
